{% extends "base.html" %}

{% block main %}
        <h2>About Us</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<h2>Where is C.A.T.S.?</h2>
		<div class="location clearfix">
			<div class="address">
				<p><strong>Our mailing address is:</strong><br/>
				Caring About The Strays<br/>
				P.O. Box 661160<br/>
				Miami Springs, FL 33266<br/>
				</p>
			</div>
			<div class="map">
				<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Miami,+FL&amp;sll=37.0625,-95.677068&amp;sspn=33.435463,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Miami,+Miami-Dade,+Florida&amp;z=11&amp;ll=25.788969,-80.226439&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Miami,+FL&amp;sll=37.0625,-95.677068&amp;sspn=33.435463,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Miami,+Miami-Dade,+Florida&amp;z=11&amp;ll=25.788969,-80.226439" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
		</div><!-- location -->
		<h2>Who is C.A.T.S.?</h2>
		<p class="whoIsCats"><img src="" alt="Who is C.A.T.S.?" class="floatLeft"/>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
{% endblock main %}

