{% extends "base.html" %}

{% block main %}
        <h2>About Us</h2>
		<p>{{ site_about_us_mission|safe }}</p>
		<h2>Who is {{ shelter_name }}?</h2>
		<p class="whoIsCats"><ul>{{ site_about_us_who|safe }}</ul></p>
		<h2>Where is {{ shelter_name }}?</h2>
		<div class="location clearfix">
			<div class="address">
				<p><strong>Our mailing address is:</strong><br/>
				{{ shelter_address|linebreaks }}
				</p>
			</div>
			<div class="map">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&q={{ shelter_address|urlencode }}&iwloc=A&output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&q={{ shelter_address|urlencode }}&iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
		</div><!-- location -->
{% endblock main %}

