{% extends "base.html" %}

{% block title %}{{ block.super }} - Home{% endblock title %}

{% block main %}
    	<div id="pets">
	        <h2>Featured Pets</h2>
	        <div id="featuredPets" class="clearfix">
	            {% for pet in featured %}
	        	<div class="pet {% if forloop.last %}last{% endif %}">
	        		<div class="thumb"><a href="http://www.petfinder.com/petdetail/{{ pet.id }}"><img src="{{ pet.photos.1.x }}" alt="{{ pet.name }}" style="max-width: 142px; max-height: 117px;"/></a></div>
	        		<div class="name"><a href="http://www.petfinder.com/petdetail/{{ pet.id }}">{{ pet.name }}</a></div>
	        	</div>
	            {% endfor %}
	        </div>
	        <div id="showPets">
	        </div>
			<h2>Available Pets</h2>
			<div id="availablePets" class="clearfix">
	            {% for pet in pets %}
	        	<div class="pet {% if forloop.last or forloop.counter|divisibleby:4 %}last{% endif %}">
	        		<div class="thumb"><a href="http://www.petfinder.com/petdetail/{{ pet.id }}"><img src="{{ pet.photos.1.x }}" alt="{{ pet.name }}" style="max-width: 142px; max-height: 117px;"/></a></div>
	        		<div class="name"><a href="http://www.petfinder.com/petdetail/{{ pet.id }}">{{ pet.name }}</a></div>
	        	</div>
	            {% endfor %}
	        </div>
        </div><!-- close pets -->
        <div id="sidebar">
        	<div class="ad">
        		<img src="https://www.google.com/adsense/static/en_US/images/exampleWideSkyscraper.gif" alt="ad"/>
        	</div>
        </div><!-- close sidebar -->
{% endblock main %}

