{% extends "base.html" %}

{% block main %}
{% if pet %}
        <div class="featureRow clearfix">
            <div class="featurePets clearfix">
                <div class="featuredPet floatLeft clearfix">
                    <div class="petImage">
                        <img src="{{ pet.photos.1.x }}" alt="{{ pet.name }}" {% cropimg pet.photos.1.info.1 pet.photos.1.info.2 270 228 %} />
                    </div><!-- close petImage -->
                    <div class="petInfo">
                        <h3>Say hi to:</h3>
                        <div class="petName">{{ pet.name }}</div>
                        <div class="petDetails">
                            <h3>Details:</h3>
                            <ul>
                            	{% if pet.animal %}<li class="animalType">{{ pet.animal }}</li>{% endif %}
                            	{% if pet.breeds %}{% for breed in pet.breeds %}<li class="animalBreed">{{ breed }}</li>{% endfor %}{% endif %}
                            	{% if pet.sex %}<li class="animalSex">{{ pet.sex }}</li>{% endif %}
                            	{% if pet.age %}<li class="animalAge">{{ pet.age }}</li>{% endif %}
                            	<!-- <li class="animalOther">Great with kids!</li> -->
                            </ul>
                        </div><!-- close petDetails -->
                        <div class="adoptButton">Read more!</div>
                    </div><!-- close petInfo -->
                </div><!-- close feauturedPet -->
            </div><!-- close featurePets -->
            <div class="featureAd">
                <img src="https://www.google.com/adsense/static/en_US/images/300x250_img.jpg" alt="AD" />
            </div><!-- close featurePets -->
        </div><!-- close featureRow -->
{% endif %}
{% endblock main %}

