{% extends "base.html" %}

{% block main %}
{% if pet %}
    	<div id="application">
    		<div class="header">
	    		<h2>Adopt {{ pet.name }}</h2>
    		</div><!-- close header -->
    		<div class="form clearfix">
                <iframe src="https://spreadsheets.google.com/embeddedform?formkey=dEpJWmZGa3o1a0VWNGJIQk14RDJsTVE6MA&entry_25={{ pet.id }}" width="760" height="5000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    		</div>
    	</div><!-- close pet -->
{% endif %}
{% endblock main %}


