{% extends "base.html" %}

{% block main %}
    	<div id="application">
    		<div class="header">
	    		<h2>Adopt{% if pet %} {{ pet.name }}{% endif %}</h2>
    		</div><!-- close header -->
    		<div class="form clearfix">
                <iframe src="https://spreadsheets.google.com/embeddedform?formkey=dEpJWmZGa3o1a0VWNGJIQk14RDJsTVE6MA{% if pet %}&entry_186={{pet.name}}:{{ pet.id }}{% endif %}" width="760" height="1550" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    		</div>
    	</div><!-- close pet -->
{% endblock main %}


