<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{% block title %}{{ site_title }} - {{ title }}{% endblock title %}</title>
	<link href="http://fonts.googleapis.com/css?family=Crafty+Girls:regular|Ubuntu:regular" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="css/{{ css }}" type="text/css" media="screen" charset="utf-8"/>
	{% if google_analytics %}
	<script type="text/javascript">
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{ google_analytics }}']);
	_gaq.push(['_trackPageview']);
	
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
	</script>
	{% endif %}
</head>
<body>

<div id="page" class="{{ page_class }}">
    <!--<div class="leftFootPrints"></div>
    <div class="rightFootPrints"></div>-->
    <div id="navigation">
        <ul class="clearfix">
            <li{% ifequal nav "index" %} class="current"{% endifequal %}><a href="index.html">Home</a></li>
            <li{% ifequal nav "adoptions" %} class="current"{% endifequal %}><a href="adoptions.html">Adoptions</a></li>
            <li{% ifequal nav "donations" %} class="current"{% endifequal %}><a href="donations.html">Donations</a></li>
            <li{% ifequal nav "about_us" %} class="current"{% endifequal %}><a href="about_us.html">About Us</a></li>
            <li{% ifequal nav "contact_us" %} class="current"{% endifequal %}><a href="contact_us.html">Contact Us</a></li>
        </ul>
        <div class="socialMedia clearfix">
            {% if shelter_twitter %}
            <a href="{{ shelter_twitter }}" class="twitter" target="_blank"></a>
            {% endif %}
            {% if shelter_facebook %}
            <a href="{{ shelter_facebook }}" class="facebook" target="_blank"></a>
            {% endif %}
        </div><!-- close socialMedia -->
    </div><!-- close navigation -->
    <div id="header">
        <h1><img src="{{ logo }}" alt="{{ shelter_name }}"/></h1>
        <div class="callUs">
            Thinking about adopting?
            <div class="phoneNumber">Call us: {{ shelter_phone }}</div>
        </div><!-- close callUs -->
    </div><!-- close header -->
    <div id="main" class="clearfix">
        {% block main %}{% endblock main %}
    </div><!-- close main -->
  <div id="footer">
    {% block footer %}
    <div id="copyright">&copy; 2011 <a href="{{ site_url }}">{{ shelter_name }}</a>{% if site_footer %} - {{ site_footer }}{% endif %} - <a href="http://code.google.com/p/catsorg/">Project Hosting</a></div>
    <div id="poweredby"><a href="http://www.petfinder.com"><img src="http://www.petfinder.com/images/members/powered-by-petfinder.png"/></a><a href="http://code.google.com/appengine/"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" /></a></div>
    {% endblock footer %}
  </div><!-- close footer -->
</div><!-- close page -->
{% block javascript %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
{% endblock javascript %}
</body>
</html>