<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{% block title %}CATS - Caring About The Strays - {{ title }}{% endblock title %}</title>
	<link rel="stylesheet" href="css/{{ css }}" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>

<div id="page" class="{{ page_class }}">
    <!--<div class="leftFootPrints"></div>
    <div class="rightFootPrints"></div>-->
    <div id="navigation">
        <ul class="clearfix">
            <li{% ifequal nav "index" %} class="current"{% endifequal %}><a href="index.html">Home</a></li>
            <li{% ifequal nav "adoptions" %} class="current"{% endifequal %}><a href="adoptions.html">Adoptions</a></li>
            <li{% ifequal nav "donations" %} class="current"{% endifequal %}><a href="donations.html">Donations</a></li>
            <li{% ifequal nav "about_us" %} class="current"{% endifequal %}><a href="about_us.html">About Us</a></li>
            <li{% ifequal nav "contact_us" %} class="current"{% endifequal %}><a href="contact_us.html">Contact Us</a></li>
        </ul>
        <div class="socialMedia clearfix">
            <a href="" class="facebook">FB</a>
            <a href="" class="twitter">Tw</a>
        </div><!-- close socialMedia -->
    </div><!-- close navigation -->
    <div id="header">
        <h1><img src="images/logo_main.png" alt="Caring About The Strays"/></h1>
        <div class="callUs">
            Thinking about adopting?
            <div class="phoneNumber">Call 1-305-889-0840</div>
        </div><!-- close callUs -->
    </div><!-- close header -->
    <div id="main" class="clearfix">
        {% block main %}{% endblock main %}
    </div><!-- close main -->
  <div id="footer">
    {% block footer %}Copyrights 2010 Text Goes Here{% endblock footer %}
  </div><!-- close footer -->
</div><!-- close page -->

</body>
</html>