{% extends "base.html" %}

{% block main %}
        <h2>Contact Information</h2>
		<div class="contactUsInfo">
            <h3>Our mailing address</h3>
            {{ shelter_address|linebreaks }}
		</div>
		<div class="contactUsInfo">
            <h3>Our phone number</h3>
            {{ shelter_phone|linebreaks }}
		</div>
{% if site_contact_us_emails %}        
		<div class="contactUsEmails">
            <h3>Email us</h3>
           {{ site_contact_us_emails|safe|linebreaks }}
		</div>
{% endif %}
{% endblock main %}

