{% extends "base.html" %}

{% block main %}
	<div id="contactUs">
        <h2>Contact Information</h2>
		<div class="contactUsAddress">
            <h3>Our mailing address</h3>
            {{ shelter_address|linebreaks }}
		</div>
		<div class="contactUsPhone">
            <h3>Call us</h3>
            {{ shelter_phone|linebreaks }}
		</div>
{% if site_contact_us_emails %}        
		<div class="contactUsEmails">
            <h3>Email us</h3>
           {{ site_contact_us_emails|safe|linebreaks }}
		</div>
{% endif %}
	</div>
	<div class="sidebar">
        <div class="module">
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 5,
			  interval: 5000,
			  width: 'auto',
			  height: 300,
			  theme: {
			    shell: {
			      background: '#dd5f24',
			      color: '#ffffff'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#000000',
			      links: '#dd5f24'
			    }
			  },
			  features: {
			    scrollbar: true,
			    loop: false,
			    live: true,
			    hashtags: true,
			    timestamp: true,
			    avatars: false,
			    behavior: 'all'
			  }
			}).render().setUser('{{ shelter_twitter_user }}').start();
			</script>
		</div>
    </div><!-- close sidebar -->
{% endblock main %}

