{% extends "base.html" %}

{% block main %}
	<div id="credits">
        <h2>Credits & Attributions</h2>
		<div class="websiteCredits">
            <h3>Website Credits</h3>
            <p>
                <a href="http://www.linkedin.com/in/vdumpeti"><img src="http://media01.linkedin.com/mpr/mpr/shrink_80_80/p/3/000/074/36e/2293916.jpg" alt="V. Rao Dumpeti"></a>
                <a href="http://www.linkedin.com/in/christopherjohansanders"><img src="http://media03.linkedin.com/mpr/mpr/shrink_80_80/p/2/000/018/0fb/1f34396.jpg" alt="Christopher Sanders"></a>
                <a href="http://www.linkedin.com/in/leongaban"><img src="hhttp://m.xx.c.akam.licdn.com/mpr/mpr/shrink_150_150/p/3/000/0e6/254/259b100.jpg" alt="Leon Gaban"></a>
                <a href="http://www.linkedin.com/pub/sandra-yassaka/0/796/126"><img src="http://m.xx.c.akam.licdn.com/media/p/2/000/18a/152/1817edc.jpg" alt="Sandra Yassaka"></a>
            </p>
		</div>
		<div class="imageCredits">
            <h3>Image & Multimedia Attributions</h3>
            <p>
                <a href="http://www.flickr.com/photos/evapro/349535809/"><img src="http://farm1.static.flickr.com/127/349535809_df2deac900_t.jpg" alt="Photo by evapro" /></a>
                <a href="http://www.flickr.com/photos/nyllows/3604523286/"><img src="http://farm4.static.flickr.com/3302/3604523286_ea15673968_t.jpg" alt="Photo by nyllows" /></a>
            </p>
		</div>
		<div class="otherCredits">
            <h3>Other Credits</h3>
            <p>
                <a href="http://www.petfinder.com"><img src="http://www.petfinder.com/images/members/powered-by-petfinder.png" alt="Powered by Petfinder.com" /></a>
                <a href="http://code.google.com/appengine/"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" /></a>
                <a href="http://code.google.com/p/catsorg"><img src="http://code.google.com/p/support/logo?cct=1297361010" alt="Powered by Google Code" /></a>
            </p>
		</div>
	</div>
{% endblock main %}

