{% extends "base.html" %}

{% block main %}
        <div class="content floatLeft">
			<h2>Donations</h2>
 			<p>Your contribution today helps save lives!</p>
            <p>As a non-profit organization, {{ shelter_name }} relies on the generosity of people like you to continue rescuing, feeding and rehabilitating homeless animals.</p>
            <p>We work solely with volunteers to care for the animals' health and well-being, therefore 100% of your donation will benefit our cats, dogs and rabbits directly. They need very little: some food, shelter and lots of love.</p>
			<h2>How can you help?</h2>
			<div class="options">
				<h3>Donation for Food and Veterinary Bills</h3>
				<p>Donate to help us feed and "trap, spray/neuter, and release" the hundreds of cats and kittens in the colonies that we care for every day.</p>
				<p>Here's how your gift can help:
                <ul>
                    <li>1 Dollar: Feeds a cat for 2 days</li>
                    <li>5 Dollars: Feeds a dog for 3 days</li>
                    <li>10 Dollars: Deworming one dog or two cats</li>
                    <li>20 Dollars: Microchip one animal</li>
                    <li>50 Dollars: Spay or neuter one small dog</li>
                    <li>100 Dollars: Flea medication for 6 cats or dogs</li>
                </ul>
                </p>
                <p>No amount is too small when it comes to helpless animals. You can donate with a credit card, and the money will go into saving lives! Thank you!</p>
				<a href="" class="btnDonation">Donate now!</a>
				<h3>Lifesaving Sponsorship</h3>
				<p>Become a sponsor to one of our foster animals and you will be helping us support one of our furry friends while they wait for a permanent home. As a no-kill organization, some of our animals have spent their lives under our care without ever being considered for adoption. This would not be possible if it weren't for the kindness of your contributions. </p>
				<p>Please browse our adoptions page to see who is available for sponsorship. Thank you!</p>
				<a href="/adoptions.html" class="btnDonation">See adoptions!</a>
			</div>
        </div><!-- close content -->
        <div class="sidebar floatRight">
        	<div class="payPalVerified">PayPal<br/>Verified!</div>
        	<div class="ad">
        		<img src="https://www.google.com/adsense/static/en_US/images/exampleWideSkyscraper.gif" alt="ad"/>
        	</div>
        </div>
{% endblock main %}

