{% extends "base.html" %}

{% block main %}
        <div class="content floatLeft">
			<h2>Donations</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<h2>How can you help?</h2>
			<div class="options">
				<h3>Donation for Food and Veterinary Bills</h3>
				<p>Donate to help us feed and "trap, spray/neuter, and release" the hundreds of cats and kittens in the colonies that we care for every day! You can donate with a credit card, and the money will go into the fund to pay for colony cat food and vet bills and help us to save lives! Thank you!</p>
				<a href="" class="btnDonation">Donate Now!</a>
				<h3>Lifesaving Sponsorship</h3>
				<p>Sponsor a foster animal to be vetted and readied for adoption! This is the perfect gift for an animal that you are not able to adopt, yourself! It's only $100 to sponsor one of these precious and special animals and give him or her a chance at a long and happy life!</p>
				<a href="" class="btnDonation">Sponsor Now!</a>
			</div>
        </div><!-- close content -->
        <div class="sidebar floatRight">
        	<div class="payPalVerified">PayPal<br/>Verified!</div>
        	<div class="ad">
        		<img src="https://www.google.com/adsense/static/en_US/images/exampleWideSkyscraper.gif" alt="ad"/>
        	</div>
        </div>
{% endblock main %}

