@import url(styles.css);

#main .content {
	width: 738px;
	margin: 0 20px 0 0;
}

#main h2 {
	margin: 0 0 10px;
	font-size: 24px;
	color: #dd5f24;
}

.location .address,
.location .map {
	float: left;
}

.location .address {
	width: 375px;
	margin: 0 20px 0 0;
}

.location .map {
	width: 425px;
	float: right;
}

.map iframe {
	width: 455px;
	height: 300px;
	border: 1px solid #dd5f24;
}

.aboutUsInfo p {
	margin: 0 0 20px;
}

.whoIsInfo h3 {
	font-size: 16px;
	color: #dd5f24;
}

.whoIsInfo h4 {
    font-style: italic;
}

.whoIsInfo h3,
.whoIsInfo h4,
div.whoIsInfo p {
	margin: 0 20px 10px;
}

/* sidebar */
#main .sidebar {
	width: 162px;
}

#min .sidebar .payPalVerified {
	text-align: center
}

#main .sidebar .ad {
	width: 160px;
	height: 600px;
	border: 1px solid #ccc;
	margin: 20px auto;
	background: 0;
}
