@import url(styles.css);

#main h2 {
	font-size: 24px;
	line-height: 24px;
	color: #dd5f24;
	margin: 0 10px 0;
}

#application h2 {
    margin: 0 0 20px 0;
}

#main p {
	margin: 0 0 10px;
}

#pet {
	position: relative;
	float: left;
	width: 600px;
	margin: 0 20px 0 0;
}

#pet .btnAdoptMe {
	position: absolute;
	top: 0;
	right: 88px;
	width: auto;
	padding: 8px 8px 7px;
	background: #dd5f24;
	font-weight: bold;
	color: #fff;
}

#pet .header {
    margin-bottom: 0 40px 0;
}

#pet .header .stats {
	font-style: oblique;
	margin: 5px 10px 10px;
}

#images .slides_container {
	width: 540px;
	height: 270px;
	overflow: hidden;
	margin: 10px 30px;
	border: 1px solid #dd5f24;
	background: #fff url(../images/slides_loading.gif) 50% 50% no-repeat;
}

#images .slides_container img {
    position: relative;
    margin-left: -10px;
}

#images .prev,
#images .next {
	position: absolute;
	top: 165px;
}

#images .prev {
	left: 6px;
}

#images .next {
	position: absolute;
	left: 572px;
}

#images .pagination {
    display: none;
}

#pet .last {
	margin-bottom: 0;
}

#description {
	margin: 0 0 20px;
}

#description p {
	margin: 10px 0 20px 0;
}

#description p.seePetfinder {
	text-align: right;
}

#description .seePetfinder a{
	font-weight: bold;
	color: #dd5f24;
	text-decoration: none;
}

#description a.seePetfinder:hover {
	text-decoration: underline;
}

#pet .shelterInfo a.btnAdoption,
#pet .shelterInfo a.btnDonation {
	display: block;
	position: relative;
	right: -410px;
	width: 130px;
	padding: 10px 9px 9px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #dd5f24;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#pet .shelterInfo {
	position: relative;
	width: 558px;
	padding: 10px 20px;
	border: 1px dashed #dd5f24;
	margin: 0 auto;
}

#pet .shelterInfo p {
	margin: 0 0 20px;
}

#pet .shelterInfo h2 {
	margin: 0;
}

#description h3, 
#pet .shelterInfo h3 {
	font-size: 16px;
	color: #dd5f24;
	margin: 10px 0 10px;
}

#description p, 
#pet .shelterInfo p {
	margin: 0 0 10px;
}

#pet .shelterInfo .adoptButton,
#pet .shelterInfo .sponsorButton {
	background: #dd5f24;
	width: 120px;
	padding: 7px 6px 6px 7px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	margin: 0 10px 10px;
	float: right;
}

#pet .shelterInfo .adoptButton a,
#pet .shelterInfo .sponsorButton a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
