@import url(styles.css);
@import url(social_media.css);

#main h2 {
	margin: 0 0 10px;
	font-size: 24px;
	color: #dd5f24;
}

#pets {
	float: left;
	width: 728px;
}

#featuredPets .pet,
#availablePets .pet {
	float: left;
	width: 163px;
	height: 163px;
	margin: 0 20px 20px 0;
	background: url(../images/bg_petThumb.jpg) no-repeat;
}
.pet .thumb {
	width: 142px;
	height: 117px;
	border: 1px solid #777;
	margin: 10px 9px 7px 9px;
	position: relative;
}

.pet .thumb img {
    position: absolute;
}

.pet .name {
	height: 25px;
	text-align: center;
}

.pet .name a {
	color: #777;
	text-decoration: none;
}

#featuredPets .pet.last,
#availablePets .pet.last {
	margin: 0;
}

#showPets {
	background: #eee;
	padding: 17px 10px 10px;
	border: 1px solid #ccc;
	margin: 5px 0 20px;
	text-align: center;
}

#showPets label {
	margin: 0 10px 0 0;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

#showPets select {
	position: relative;
	top: -3px;
	padding: 5px 3px 2px;
	margin: 0 10px 0 0;
}

.petPag {
	margin: 0 0 20px;
}

.petPag a {
	display: block;
	width: 310px;
	height: 20px;
	padding: 11px 10px 9px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	background: #dd5f24;
	font-size: 16px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}


#sidebar {
	float: right;
	width: 160px;
}