@import url(styles.css);
@import url(social_media.css);

#main h2 {
	margin: 0;
	font-size: 24px;
	line-height: 24px;
	color: #dd5f24;
}

#main p {
	margin: 0 0 10px;
}

#pet {
	position: relative;
	float: left;
	width: 600px;
	margin: 0 20px 0 0;
}

#pet .btnAdoptMe {
	position: absolute;
	top: 0;
	right: 88px;
	width: auto;
	padding: 8px 8px 7px;
	background: #dd5f24;
	font-weight: bold;
	color: #fff;
}

#pet .header {
	margin: 0 0 0 30px;
}

#pet .header .stats {
	font-style: oblique;
}


#images .slides_container {
	position: relative;
	width: 540px;
	height: 270px;
	overflow: hidden;
	margin: 0 30px;
	background: #000 url(images/slides_loading.gif) 50% 50% no-repeat;
}

#images .slides_container a {
	text-align: center;
}

#images .prev,
#images .next {
	position: absolute;
	top: 149px;
}

#images .prev {
	left: 0;
}

#images .next {
	position: absolute;
	left: 576px;
}

#images .pagination {
	overflow: auto;
	padding: 10px;
	text-align: center;
}

#images .pagination li {
	display: inline;
	float:	left;
	list-style: none;
	width: 15px;
	height: 15px;
	margin: 0 0 0 10px;
	text-align: center;
}

#images .pagination li:first-child {
	margin: 0;
}


#pet .selectedImg {
	float: left;
	width: 400px;
	height: 300px;
	border: 1px solid #dd5f24;
	margin: 0 20px 0 0;
	background: #ccc;
}

#pet .thumbnails {
	float: left;
	width: 60px;
	margin: 0 20px 20px;
}

#pet .thumb {
	width: 58px;
	height: 58px;
	border: 1px solid #dd5f24;
	margin: 0 0 20px;
	background: #ccc;
}

#pet .last {
	margin-bottom: 0;
}

#description {
	margin: 0 0 40px;
}

#description p.seePetfinder {
	text-align: right;
}

#description .seePetfinder a{
	font-weight: bold;
	color: #dd5f24;
	text-decoration: none;
}

#description a.seePetfinder:hover {
	text-decoration: underline;
}

#pet .shelterInfo {
	position: relative;
	width: 558px;
	padding: 30px 20px 10px;
	border: 1px dashed #dd5f24;
	margin: 0 auto;
}

#pet .shelterInfo h2 {
	position: absolute;
	top: -24px;
	left: 225px;
	width: 150px;
	padding: 10px;
	background: #dd5f24;
	color: #fff;
	text-align: center;
}

#sidebar {
	float: right;
	width: 300px;
}

#sidebar .featureAd {
	margin: 0 0 20px 0;
}