@import url(styles.css);

#main {
	min-height: 400px;
}

#contactUs {
	float: left;
	width: 600px;
	margin: 0 18px 0 0;
}

#page.contactUs #main,
#page.contactUs #main h2 {
	border-bottom: none;
}

#page.contactUs #main h2 {
	font-size: 24px;
	margin: 0 0 10px 0;
}

#page.contactUs #main h2,
#page.contactUs h3 {
	color: #dd5f24;
}

#page.contactUs h3 {
	font-size: 16px;
	margin: 0 0 5px;
}

.contactUsAddress,
.contactUsPhone,
.contactUsEmails {
	margin: 0 20px 15px;
}

.sidebar {
	width: 302px;
}

#main .featureAd {
	float: none;
}

.module {
	margin: 20px 0 0;
}