@import url(styles.css);
@import url(social_media.css);

#main h2 {
	margin: 0;
	font-size: 24px;
	line-height: 24px;
	color: #dd5f24;
}

#pet {
	float: left;
	width: 600px;
	margin: 0 20px 0 0;
}

#pet .header .stats {
	font-style: oblique;
}

#pet .selectedImg {
	float: left;
	width: 400px;
	height: 300px;
	border: 1px solid #dd5f24;
	margin: 0 20px 0 0;
	background: #ccc;
}

#pet .thumbnails {
	float: left;
	width: 60px;
	margin: 0 20px 20px;
}

#pet .thumb {
	width: 58px;
	height: 58px;
	border: 1px solid #dd5f24;
	margin: 0 0 20px;
	background: #ccc;
}

#sidebar {
	float: right;
	width: 300px;
}

#sidebar .featureAd {
	margin: 0 0 20px 0;
}