.socialMedia {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	width: 120px;
}

.socialMedia a.facebook,
.socialMedia a.twitter,
.socialMedia a.email {
	float: right;
	display: block;
	width: 32px;
	height: 32px;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
}

.socialMedia a.facebook {
	margin: 0 5px 0 0;
	background: url(../images/icn_facebook_32.png) no-repeat;
	color: #fff;
}

.socialMedia a.twitter {
	margin: 0 5px 0 0;
	background: url(../images/icn_twitter_32.png) no-repeat;
	color: #fff;
}

.socialMedia a.email {
	margin: 0 5px 0 0;
	background: url(../images/icn_email_32.png) no-repeat;
	color: #fff;
}

/*
#main .socialMedia a.facebook,
#main .socialMedia a.twitter,
#shareBar .print,
#shareBar .email,
#shareBar .facebook,
#shareBar .twitter {
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	font-size: 20px;
	line-height: 45px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}


#main .socialMedia a.facebook,
#shareBar .facebook {
	margin: 0 20px 0 0;
	background: #3B5998;
}

#main .socialMedia a.twitter,
#shareBar .twitter {
	background: #c4e0ec;
}

#shareBar {
	margin: 0 0 20px 322px;
}

#shareBar .print {
	background: #e54661;
}

#shareBar .email {
	background: #fdf3c1;
	color: #dea140;
}
*/
