@import url(base.css);
@import url(social_media.css);

/** Primary styles */
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

body {
	background: #f7ba00;
}

#page {
	position: relative;
	width: 960px;
	margin: 0 auto;
	background: #fff;
}

.leftFootPrints {
	position: absolute;
	top: 0;
	left: -165px;
	width: 165px;
	height: 700px;
	background: url(../images/bg_footPrints_left.png) no-repeat;
}

.rightFootPrints {
	position: absolute;
	top: 0;
	right: -165px;
	width: 165px;
	height: 660px;
	background: url(../images/bg_footPrints_right.png) no-repeat;
}

/** navigation */
#navigation {
	position: relative;
	height: 45px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation ul li {
	display: block;
	float: left;
	width: auto;
	margin: 0 1px 0 0;
	background: #dd5f24;
}

#navigation ul li a {
	display: block;
	height: 45px;
	padding: 0 20px 0 20px;
	font-size: 16px;
	line-height: 47px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation ul li.current a,
#navigation ul li.current a:hover {
	background: #fff url(../images/bg_menu_paw.png) no-repeat 10px 45%;
	color: #dd5f24;
	padding: 0 20px 0 45px;
}

#navigation ul li a:hover {
	background: #fff;
	color: #dd5f24;
	padding: 0 20px 0 20px;
}

/** header */
#header {
	position: relative;
	height: 110px;
	background: #fff;
}

#header h1 {
	margin: 10px 0 0 0;
	font-family: 'Crafty Girls', georgia, serif;
	font-size: 36px;
	color: #dd5f24;
}

#header h1 img {
	padding: 0;
	margin: 0 20px 0 30px;
	vertical-align: middle;
}

#header .callUs {
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#header .phoneNumber {
	width: 240px;
	padding: 10px 0 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	background: #dd5f24;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
}

#main {
	padding: 20px;
	border-top: 1px solid #dd5f24;
	border-bottom: 1px solid #dd5f24;
}

/** featureRow */
#main .featureRow {
	margin: 0 0 20px;
}

#main .featurePets {
	position: relative;
	float: left;
	width: 598px;
	height: 248px;
	border: 1px solid #dd5f24;
	margin: 0 20px 0 0;
}

.featurePets .featuredPet {
	position: absolute;
	top: 0;
	left: 0;
	width: 455px;
	margin: 10px;
}

.featuredPet .petImage {
	float: left;
	width: 270px;
	height: 228px;
	margin: 0 10px 0 0;
	position: relative;
    border: solid 1px #ccc;
}

.featuredPet .petImage img {
	position: absolute;
}

.featuredPet .petInfo {
	position: relative;
	float: left;
	width: 170px;
	height: 228px;
}

.petInfo .petName {
	margin: 10px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	color: #dd5f24;
}

.featuredPet .petDetails {
	margin: 0 0 10px 0;
}

.petInfo .adoptButton {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #dd5f24;
	width: 130px;
	padding: 7px 6px 6px 7px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}

.petInfo .adoptButton a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.featurePets .otherFeaturedPets {
	width: 115px;
	height: 248px;
	background: #efedeb;
}

.featurePets .otherFeaturedPets .feature {
	height: 83px;
	cursor: pointer;
}

.otherFeaturedPets .feature.last {
	height: 82px;
}

.otherFeaturedPets .feature .featureArrow {
	display: none;
}

.feature .featThumb {
	padding: 9px 0 0 13px;
	position: relative;
	width: 87px;
	height: 54px;
}

.featThumb .crop {
	position: absolute;
	width: 87px;
	height: 54px;
	border: 2px solid #fff;
	-moz-box-shadow: 0 0 1px #999;
	-webkit-box-shadow: 0 0 1px #999;
	box-shadow: 0 0 1px #999;
	
}

.feature .featThumb img {
	position: absolute;
}

.feature .featName {
	position: relative;
	top: 6px;
	padding: 0 0 0 15px;
	font-size: 11px;
	line-height: 11px;
}

.featurePets .otherFeaturedPets .feature.current,
.featurePets .otherFeaturedPets .feature:hover {
	position: relative;
	background: #dd5f24;
}

.otherFeaturedPets .feature.current .featureArrow,
.otherFeaturedPets .feature:hover .featureArrow{
	display: block;
	position: absolute;
	top: 0;
	left: -8px;
	width: 8px;
	height: 83px;
	background: url(../images/icn_featureArrow_left.png) no-repeat;
	z-index: 2;
}

.feature.current .featName,
.feature:hover .featName {
	color: #fff;
}

.feature.current .featureArrow.last,
.featurePets .otherFeaturedPets .feature.last:hover {
	height: 82px;
}

#main .featureAd {
	float: right;
	width: 300px;
	height: 250px;
	background: #dd5f24;
}

.newsEventsRow {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #dd5f24;
	margin: 0 0 10px 0;
}

.newsEventsRow h2 {
	border-bottom: 1px solid #dd5f24;
	margin: 0 0 10px 0;
	font-size: 24px;
	color: #dd5f24;
}

.newsEventsRow h3 {
	font-size: 18px;
	margin: 25px 0 0 20px;
	color: #dd5f24;
}

.newsEventsRow img {
	max-width: 175px; 
	float:right; 
	margin-left: 10px
}

.newsEventsRow p {
	margin: 0 20px 15px;
}

/** otherItemsRow */
.otherItemsRow {
	margin: 0;
}

.aboutUsBox,
.donateNowBox {
	position: relative;
	float: left;
	width: 450px;
	height: 300px;
	background: #ccc;
}

.aboutUsBox h3,
.donateNowBox h3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 430px;
	padding: 10px;
	background: #dd5f24;
	font-size: 16px;
	color: #fff;
}

.aboutUsBox .text,
.donateNowBox .text {
	display: block;
	position: absolute;
	bottom: 0;
	width: 430px;
	padding: 10px;
	background: rgba(255,255,255,.75);
	color: #dd5f24;
	text-align: right;
	text-decoration: none;
}

.aboutUsBox .text:hover,
.donateNowBox .text:hover {
	text-decoration: underline;
}

.aboutUsBox {
	margin: 0 20px 0 0;
}

.back {
    top: auto;
    right: 10px;
    position: absolute;
    top: 10px;
}

.back a {
	font-weight: bold;
	color: #dd5f24;
	text-decoration: none;
}

.back a:hover {
	text-decoration: underline;
}

#footer {
	padding: 20px;
	text-align: center;
}
